body{
    background-color: black;
    color: gold;
}
h2{
    justify-content: center;
}
h2{
    text-align: center;
}
#img-container {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-cards {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
p {
    margin: 2px;
    text-align: center;
}
img {
    object-fit: cover;
    height: 300px;
    width: 400px;
    padding: 3px;
    margin:2px;
    border-radius: 5px;
}
.modalContainer {
  position: fixed;
  background: orange;
  /* opacity: 0.5; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
#imagebox{
    text-decoration: center;
    text-align: center;
    background-color: black;
    margin:0 auto;
    width:80%;
    /* height:100%; */
    border:1px solid black;
    justify-content: center;
    color: white;


}
input{
    padding: 4 px;
    width: 250px;
    height: 30px;
    border-color: forestgreen;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 20px;
    border:3px solid gold;
     border-radius: 4px;
}
button{
    width: 150px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    background :gold;
    padding: 2px;
    cursor: pointer;
    color: black;
}
ul{
        list-style-type: none;
    }
#close{
    float: right;
    /* align-items: right;
    justify-content: right; */
}
form{
    /* width: 100%; */
  padding: 12px 20px;
  margin: 0 auto;
  box-sizing: border-box;
    width:500px;
    height:300px;
    border:3px solid gold;
    border: 2px solid red;
  border-radius: 4px;
}
/* #form{
    padding: 8px 8px;
    margin: 0 auto;
    box-sizing: border-box;
    /* width:200px;
    height:400px; */
    /* border: 2px solid gold;
  border-radius: 4px; */
/* }*/
li{
    padding: 8px 8px;
    margin: 0 auto;
    box-sizing: border-box;
    width:800px;
    height:60px;
    border: 2px solid gold;
    border-radius: 4px;
}
