#img-container {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-class {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
p {
    margin: 2px;
}
img {
    object-fit: cover;
    height: 200px;
    width: 300px;
    padding: 3px;
    margin:2px;
    border-radius: 5px;
}
