body{
    background-color: pink;
}
h2{
    justify-content: center;
}
#img-container {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-cards {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
p {
    margin: 2px;
}
img {
    object-fit: cover;
    height: 200px;
    width: 300px;
    padding: 3px;
    margin:2px;
    border-radius: 5px;
}
.modalContainer {
  position: fixed;
  background: orange;
  /* opacity: 0.5; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#imagebox{
    text-decoration: center;
    text-align: center;
    background-color: black;
    margin:0 auto;
    width:80%;
    height:100%;
    border:1px solid black;
    justify-content: center;
    color: white;


}
ul{
        list-style-type: none;
    }
#close{
    float: right;
    /* align-items: right;
    justify-content: right; */
}
form{
    width:500px;
    height:100px;
    border:1px solid #000;
}
